requests
psutil
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
aria2p
python-dotenv
tenacity
python-magic
beautifulsoup4
pyrogram
TgCrypto
youtube_dl
lk21
js2py
lxml
fake-useragent
